body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centdiv {
  margin: auto;
  width: fit-content;
}

.centthing {
  margin: auto;
  width: fit-content;
}

a:hover {
  cursor: pointer;
}

.photowrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photowrapper img {
  width: 200px;
}

.photedit {
  margin: 10px;
}

.jbapi h1 {
  font-size: 12pt;
}

.mainsearch h1 {
  color: #fff;
}
